{% load bootstrap3 %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "main/header.html" %}
    <body>
        {% include "main/navbar.html" %}
            <div class="container p-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>{{ table_name }} Table</b>
                    </div>
                    <div class="panel-body">
                        {% load render_table from django_tables2 %}
                        <a href="{% url "addFreezing" %}">Add New Entry</a>
                        <div style="overflow-x:auto;">
                            {% render_table table 'django_tables2/bootstrap.html' %}
                        </div>  
                        <p>Use Button or Press <kbd>Enter</kbd> to Filter</p>
                        {% if filter %}
                            <form action="" method="get" class="form form-inline">
                                {% bootstrap_form filter.form layout='inline' %}
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Further Content</b>
                    </div>
                    <div class="panel-body">
                        Here any further content if required.
                    </div>
                </div>
            </div>
    </body>
</html>